
.box-0 {
    width: 3px;
    height: 20px;
    background-color: yellow;
    margin: 0 28.5px 0 28.5px;
     

}
  
  .box-1 {
    width: 20px;
    height: 20px;
    background-color: green;
    margin: 0 20px 0 20px;
  }
  
  .box-2 {
    width: 40px;
    height: 20px;
    background-color: blueviolet;
    margin: 0 10px 0 10px;
  }
  
  .box-3 {
    width: 60px;
    height: 40px;
    background-color: crimson;
  }
  



 div{
    text-align: center;
    color: white;
}

